@page
@model RioCourseWork.Areas.MainArea.Pages.Records.ListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #RefreshArea {
        font-weight: 600;
        font-size: 20px;
    }

        #RefreshArea > div div{
            border-bottom: 2px solid gray;
            padding: 12px;
            border-radius: 12px;
            background-color: rgba(0,0,0,0.25);
            margin: 12px;
        }
</style>

<div id="RefreshArea">
    @if (Model.records.Count != 0)
    {
        <div class="row">
            @foreach (var record in Model.records)
            {
                <div class="col-12" method="post">
                    <label>Время: @record.Time</label>
                    <br>
                    <label>Имя: @record.Person.FullName()</label>
                    <br>
                </div>
            }
        </div>
    }
    else
    {
        <h3 class="text-danger">Записей нет!</h3>
    }
</div>
@section Scripts{
    <script>
        function Refresh() {
            $('#RefreshArea').load(location.href + ' #RefreshArea > *');
        }
        setInterval(Refresh, 3000);
    </script>
}