@page
@model RioCourseWork.Areas.MainArea.Workers.CreateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3 class="text-center">Добавление нового сотрудника</h3>
    <form method="post">
        <label class="form-label">Имя:</label>
        <input class="form-control" asp-for="@Model.person.Name"/>
        <label class="form-label">Фамилия:</label>
        <input class="form-control" asp-for="@Model.person.Surname" />
@*        <label class="form-label">Имя:</label>
        <input class="form-control" asp-for="@Model.person.Name" />*@

        <input type="submit" value="Подтвердить" asp-page-handler="Create" class="btn btn-success"/>
    </form>
</div>
