@page
@model RioCourseWork.Areas.MainArea.Workers.ListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="Create" class="btn btn-primary">Добавить</a>
    @if (Model.Persons.Count() > 0)
    {
        <div class="row">
            @for (int i = 0; i < Model.Persons.Count(); i++)
            {
            }
        </div>
    }
    else
    {
        <h2 class="text-center text-danger">Ничего не найдено</h2>
    }
</div>
