@page
@model RioCourseWork.Areas.MainArea.Pages.Journal.ListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #RefreshArea {
        font-weight: 600;
        font-size: 20px;
    }

        #RefreshArea form {
            border-bottom: 2px solid gray;
            padding:12px;
            border-radius:12px;
            background-color:rgba(0,0,0,0.25);
            margin:12px;
        }
</style>

<div id="RefreshArea">
    @if (Model.journalItems.Count != 0)
    {
        <div class="row">
            @foreach (var record in Model.journalItems)
            {
                <form class="col-12" method="post">
                    <label>Время: @record.Time</label>
                    <br>
                    <label>Значение: @record.Value</label>
                    <br>
                    <input type="submit" value="Удалить" asp-page-handler="Delete" asp-route-id="@record.Id" class="btn btn-outline-danger" />
                </form>
            }
        </div>
    }
</div>
@section Scripts{
    <script>
        function Refresh() {
            $('#RefreshArea').load(location.href + ' #RefreshArea > *');
        }
        setInterval(Refresh, 3000);
    </script>
}