@page
@model RioCourseWork.Areas.MainArea.Pages.Journal.ListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model.records.Count!=0){
    foreach(var record in Model.records)
    {
        <label>@record.Time</label>
    }
}